CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=

SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_DOCUMENTAI_SERVICE_ACCOUNT_JSON=
GOOGLE_DOCUMENTAI_PROJECT_ID=962032253660
GOOGLE_DOCUMENTAI_LOCATION=asia-south1
GOOGLE_DOCUMENTAI_PROCESSOR_ID=9793d76a76692d2a
GOOGLE_DOCUMENTAI_GCS_BUCKET=
GOOGLE_DOCUMENTAI_GCS_INPUT_PREFIX=input
GOOGLE_DOCUMENTAI_GCS_OUTPUT_PREFIX=output

OPENAI_API_KEY=
GEMINI_API_KEY=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
